input[type="radio"] {
  width: 1rem;
  height: 1rem;
  accent-color: green;
}
.flex-container {
  display: flex;
  flex-direction: column;
}
.flex-container > div {
}
label {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

.game-summary-category {
  display: flex;
  flex-direction: row;
}

.title {
  font-family: 'ArcadeClassic', sans-serif;
  text-align: center;
}

.mobile-container {
  padding-top: 2rem;
}
.mobile-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-menu-element {
  padding: 1rem;
  text-align: center;
}

.error {
  color: red;
}