<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
    <head>
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
        <meta name="description" content="Game Summary" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Quiz App Home</title>
    </head>
    <body>
        <h1>Game Summary</h1>
        <div id="game-summary-container">
            <div id='game-summary-category'>
                <span>
                    <b>Category</b>
                </span>
                <span th:text="${gameCategory.get()}">
                    Category Not Found
                </span>
            </div>
        </div>
    </body>
</html>